/* frontend/src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #0b192e; /* Azul marinho profundo do protótipo */
  color: #e1e1e1;
  min-height: 100vh;
  display: block; /* Remove o display: flex padrão do Vite */
}